<div class="container">
  <div class="card bg-light border-dark">
    <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <label class="label">Order Number:</label>
      </div>

      <div class="col-sm-4">
        <select
          class="form-control"
          id="orderNumber"
          [ngModel]="selectedOrder"
          (ngModelChange)="onOrderChange($event)"
        >
          <option value="undefined" disabled>Select Order</option>
          <option *ngFor="let order of orders" [ngValue]="order">
            {{ order.orderNumber }}
          </option>
        </select>
      </div>

      <div class="col"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col" style="margin-top: 50px">
        <h4>Order Details</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Order Date:</div>
      <div class="col">{{ selectedOrder?.orderDate | date: "y-MM-dd" }}</div>
    </div>

    <div class="row">
      <div class="col-sm-2">Total:</div>
      <div class="col">{{ orderTotal | currency }}</div>
    </div>

    <div class="row" style="margin-top: 50px">
      <div class="col">
        <h5>Order Items</h5>
      </div>
    </div>

    <div class="row">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedOrderItems">
            <td>{{ item.productName }}</td>
            <td class="text-left">{{ item.unitPrice | currency }}</td>
            <td>{{ item.quantity }}</td>
            <td class="text-left">{{ item.amount | currency }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshOrderItems()"
        >
        </ngb-pagination>

        <select
          class="custom-select"
          style="width: auto"
          [(ngModel)]="pageSize"
          (ngModelChange)="refreshOrderItems()"
        >
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
